{% extends "main/base.html" %}

{% block content %}
	<h6>
		Welcome to NBAStatClash, your ultimate destination for comparing the statistical prowess of NBA players for the 2022-2023 regular season.<br><br>

		Tailored specifically for fantasy basketball enthusiasts, our platform offers two methods of comparison: categories and points. <br><br>

		Through our category-based assessment, we offer a deep dive into the average per-game performance across nine crucial statistical categories. Additionally, our points analysis delves into the average fantasy points each player scored per game, providing you with a clear perspective on their individual contributions. Get ready to unravel the true powerhouses of the game and gain a competitive edge like never before. Join us on NBAStatClash and witness the captivating world of player stats come alive.
	</h6>
{% endblock %}